#==================
# APP CONFIGURATION
#==================
APP_ENV= # "development" or "production"
RETRIES_MAX=
RETRIES_DELAY_MS=
TCP_TIMEOUT_MS=
TCP_LENGTH_PREFIX_BYTES=

#======================================
# DOCKER / INFRASTRUCTURE CONFIGURATION
#======================================
APP_THREADS= # based on the cpus limit of the container, minimum 1
APP_MAX_RAM_MB= # suggested 75% of the container's memory limit

HOST_HTTP_PORT=
HOST_TCP_PORT=
DOCKER_HTTP_PORT=
DOCKER_TCP_PORT=

DOCKER_CPUS_LIMIT=
DOCKER_MEMORY_LIMIT_MB=
# suggested 25% of the container's limits
DOCKER_CPUS_RESERVATION=
DOCKER_MEMORY_RESERVATION_MB=

#=============
# DEV SETTINGS
#=============
HOST_DEBUGGER_PORT=